.App {
  text-align: center;
}

.App-logo {
  height: 40vmax;
  pointer-events: none;
  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    
    
  }
}

.App-header {
 
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.titulo-landing{
color: var(--blue-third);
display: inline-flex;
margin-left: 1rem;

}


.logo-peq{
  width:7%;
  height: auto;
}

.pointer{
  cursor:pointer
}


.titulo{
  margin-top: 2rem;
}
.titulo-iss{
  margin-top: 1rem;
}
.api-btn{
  margin-bottom:3.7rem;
  background-color: var(--blue-third);
}
.iss-btn{
  margin-bottom: 2rem;
  background-color: var(--blue-third);
}
.datepicker{
  color:var(--blue-third);
  
  background-color: var(--textovergrey);
}